.intro{
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro-container{
    scroll-snap-align: center;
    width: 1200px;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.intro-greet{
    display: flex;
    font-size: 50px;
    height: 40vh;
    width: 600px;
    color: lightgrey;
    align-items: end;
    justify-content: center;
}

.intro-bio {
    display: flex;
    opacity: 0;
    transform: translateY(100%);
    animation: slideIn 4s ease-in-out forwards;
    height: 50vh;
    width: 600px;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
    color: darkgray;
}
.typed-text{
    font-size: 2rem;
}
@keyframes slideIn {
    100% {
        opacity: 1;
        transform: translateX(0);
      }
}

@media only screen and (max-width: 600px) {
    .intro-greet{
        font-size: 40px;
    }
    .intro-bio{
        width: 380px;
        font-size: 18px;
    }
    .typed-text{
        font-size: 2rem;
    }
}